@{layout('')}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    @{foreach m in repository.name_albums.russian}
        <a href=@{repository.name_albums.english[index]}/ >@{m}</a>
    @{end}
    <br />
    <p>add album</p>
    <form method="post">
      <p>RU</p>
      <br />
        <input type="text" name="ru" id="ru">
      <p>EN</p>
      <br />
	<input type="text" name="en" id="en">
        <input type="submit">
    </form>
            
</body>
</html>
